{% extends 'base.html' %}


{% block content %}
    <div class="col-12 container py-3">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">surname</th>
                <th scope="col">patronymic</th>
                <th scope="col"><a type="button" class="btn btn-success mx-5" href="create/">Add
                    new</a></th>
            </tr>
            </thead>
            {% for author in authors %}
                <tbody>
                <tr>
                    <td>{{ author.name }}</td>
                    <td>{{ author.surname }}</td>
                    <td>{{ author.patronymic }}</td>
                    <td>
                        <a type="button" class="btn btn-primary mx-2 my-2"
                           href="/authors/{{ author.id }}">View</a>
                        <a type="button" class="btn btn-warning"
                           href="/authors/update/{{ author.id }}">Update</a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

