{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/author/author_list.css" %}?{% now "U" %}">
    <div class="content container pt-3 my-2 main_block">

        <div class="row d-flex justify-content-center">
            {% for author in page_obj %}
                <div class="col col-sm-3 m-3 pt-3">
                    <div class="card h-100">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <span class="card-title mt-2">{{ author.name }} {{ author.patronymic }} {{ author.surname }}</span>
                        </div>

                        <div class="card-footer border-dark">
                            <a type="button" class="btn button_view col-4 mx-2"
                               href="{% url 'author_detail' author.id %}">View</a>
                            {% if perms.author.change_author %}
                                <a type="button" class="btn button_detail col-4 mx-2"
                                   href="{% url 'author_update' author.id %}">Update</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <nav class="pagination_block">
            <ul class="pagination justify-content-center">
                <li class="{% if page_obj.has_previous %}page-item{% else %}page-item disabled{% endif %}">
                    <a class="page-link"
                       href="?page=
                               {% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}''{% endif %}"
                       aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% for page_num in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                {% if page_obj.number == page_num %}
                    <li class="active page-item"><span class="page-link">{{ page_num }}</span>
                    </li>
                {% else %}
                    {% if page_num == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ page_num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}


            <li class="{% if page_obj.has_next %}page-item{% else %}page-item disabled{% endif %}">
                <a class="page-link"
                   href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}''{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>


{% endblock %}

