{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="content container pt-5 my-4 d-flex justify-content-center">

        <div class="col-3 text-center">
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.name|as_crispy_field }}
                    {{ form.patronymic|as_crispy_field }}
                    {{ form.surname|as_crispy_field }}
                </div>
                <a href="javascript:history.go(-1)" class="btn btn-success col-5 mx-2"><i
                        class="fa-regular fa-circle-left"></i> Go back</a>
                <button type="submit" class="btn btn-primary col-5 mx-2"><i class="fa-regular fa-circle-check"></i>
                    Submit
                </button>
            </form>
        </div>

    </div>
{% endblock %}