.left-block {
    height: 93%;
    width: 50%;
}

.right-block {
    height: 93%;
    width: 50%;
}

.bottom-block {
    height: 7%;
    width: 100%;
}

.card {
    border: none;
    width: 100%;
}


.card-title {
    font-size: 2rem;
    margin-bottom: 5%;
    margin-top: 2%;
}

.btn-google {
    color: white;
    background-color: #DB4437;
}

.btn-linkedin {
    color: white;
    background-color: #3b5998;
}

.btn-github {
    color: white;
    background-color: #333;
}

.btn-google:hover {
    transition-duration: 0.3s;
    box-shadow: inset 400px 0 0 0 #ff6d5e;
    color: white;
}

.btn-linkedin:hover {
    transition-duration: 0.3s;
    box-shadow: inset 400px 0 0 0 #0878c9;
    color: white;
}

.btn-github:hover {
    transition-duration: 0.3s;
    box-shadow: inset 400px 0 0 0 #5b5b5b;
    color: white;
}

.alert {
    font-size: .8em;

}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.d-grid {
    width: 60%;
}