.button_detail {
    width: 30%;
    background: #a4bdf5;
    border: 1px solid #4d4d4d;
    transition: width .5s;
}

.button_detail:hover {
    background: #769ae8;
    border: 1px solid #333333;
    width: 40%;
}


img {
    border: 1px solid #818181;
}

.crop {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.input-group {
    visibility: hidden;
}