.header-block {
    height: 10%;
}

.main-block {
    height: 80%;
}

.left-block {
    height: 400px;
    width: 62%;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}

.left-block:hover {
    overflow-y: auto;
}

.right-block {
    height: 400px;
    width: 35%;
    padding: 2%;
    border-radius: 20px;
    border: #C59F3F 2px solid;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}

.right-block:hover {
    overflow-y: auto;
}

.footer-block {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
    visibility: hidden;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a4bdf5;
}

#style-1::-webkit-scrollbar-button {
    height: 30px !important;
    visibility: hidden;
}

p {
    font-size: 2px;
}