{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/book/book_list.css' %}?{% now "U" %}">
    <div class="content container pt-3 my-2 main_block">

        <div class="row d-flex justify-content-center">
            {% for book in page_obj %}
                <div class="col-lg-3 d-flex mt-3">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <h5 class="card-title mt-2">{{ book.name }}</h5>
                            <p class="card-text">{{ book.description|truncatechars:100 }}</p>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ book.get_authors_list|join:", " }}</li>
                            <li class="list-group-item">In stock: {{ book.count }}</li>
                        </ul>

                        <div class="card-footer">
                            <a type="button" class="btn button_view col-4 mx-2"
                               href="{% url 'book_detail' book.id %}">View</a>
                            {% if perms.book.change_book %}
                                <a type="button" class="btn button_detail col-4 mx-2"
                                   href="{% url 'book_update' book.id %}">Update</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <nav class="pagination_block">
            <ul class="pagination justify-content-center">
                <li class="{% if page_obj.has_previous %}page-item{% else %}page-item disabled{% endif %}">
                    <a class="page-link"
                       href="?page=
                               {% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}''{% endif %}"
                       aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% for page_num in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                {% if page_obj.number == page_num %}
                    <li class="active page-item"><span class="page-link">{{ page_num }}</span>
                    </li>
                {% else %}
                    {% if page_num == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ page_num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}


            <li class="{% if page_obj.has_next %}page-item{% else %}page-item disabled{% endif %}">
                <a class="page-link"
                   href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}''{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>

{% endblock %}

