{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/book/create.css' %}">

{% block content %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="w-50 p-3">
            <div class="form-floating mb-3">
                {{ form|crispy }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'book_list' %}" class="btn btn-success">Back to list</a>
    </form>
{% endblock %}