{% extends 'base.html' %}


{% block content %}
    <div class="col-12 container py-3">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">description</th>
                <th scope="col">count</th>
                {% if perms.book.add_book %}
                <th scope="col"><a type="button" class="btn btn-success mx-0" href="create/">Add
                    new</a></th>
                {% endif %}
            </tr>
            </thead>
            {% for book in books %}
                <tbody>
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.count }}</td>
                    <td>
                        <a type="button" class="btn btn-primary mx-2 my-2" href="/books/{{ book.id }}">View</a>
                        {% if perms.book.change_book %}
                        <a type="button" class="btn btn-warning" href="/books/update/{{ book.id }}">Update</a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

