{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{{ title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
              crossorigin="anonymous">
        <link rel="icon" href="https://img.icons8.com/bubbles/50/null/literature.png"
              type="image/x-icon">


        <link rel="stylesheet" href="{% static 'css/index/index.css' %}?{% now "U" %}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid mx-4 my-1">
        <a class="navbar-brand" href="{% url 'index' %}">Django Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Authors
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'author_list' %}">List of authors</a></li>
                        {% if perms.author.add_author %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'author_create' %}">Add new author</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Books
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'book_list' %}">List of books</a></li>
                        {% if perms.book.add_book %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'book_create' %}">Add new book</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Orders
                    </a>
                    <ul class="dropdown-menu">
                        {% if request.user|has_group:"Librarian" or user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'order_list' %}">List of orders</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'order_list' %}">My orders</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'order_create' %}">New order</a></li>
                    </ul>
                </li>
            </ul>

            {% if not user.is_authenticated %}
                <ul class="nav justify-content-end">
                    <li class="nav-item mx-3">
                        <div>
                            <button class="btn btn-outline-light" onclick="location.href='{% url 'login' %}'"
                                    aria-expanded="false">
                                Sign in
                            </button>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div>
                            <button class="btn btn-outline-light" onclick="location.href='{% url 'register' %}'"
                                    aria-expanded="false">
                                Sign up
                            </button>
                        </div>
                    </li>
                </ul>

            {% else %}
                <ul class="nav">
                    <li class="nav-item mx-2">
                        <div>
                            <button class="btn btn-outline-light" onclick="location.href='{% url 'profile' %}'"
                                    aria-expanded="false">
                                Profile
                            </button>
                        </div>
                    </li>
                    <li class="nav-item mx-3">
                        <div>
                            <button class="btn btn-outline-light" onclick="location.href='{% url 'logout' %}'"
                                    aria-expanded="false">
                                Logout
                            </button>
                        </div>
                    </li>
                </ul>
            {% endif %}

        </div>
    </div>
</nav>
<div class="content container my-2">
    {% include 'includes/messages.html' %}
    {% block content %}

    {% endblock %}
</div>

<div>
    <footer class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container p-2 pb-0">
            <section class="mb-2">

                <!-- Gmail -->
                <a
                        class="btn btn-secondary btn-floating mx-3 my-1"
                        style="background-color: #ec5947;"
                        href="mailto:asineckijegor@gmail.com"
                        role="button">
                    <i class="fa-solid fa-inbox"></i>
                </a>

                <!-- Telegram -->
                <a
                        class="btn btn-secondary btn-floating mx-3"
                        style="background-color: #509ec4;"
                        href="https://t.me/import_error"
                        role="button"
                        target="_blank">
                    <i class="fa-solid fa-paper-plane"></i>
                </a>

                <!-- Linkedin -->
                <a
                        class="btn btn-secondary btn-floating mx-3"
                        style="background-color: #2381c9;"
                        href="https://www.linkedin.com/in/yasegor/"
                        role="button"
                        target="_blank"
                ><i class="fab fa-linkedin-in"></i
                ></a>
                <!-- Github -->
                <a
                        class="btn btn-secondary btn-floating mx-3"
                        style="background-color: #4d4d4d;"
                        href="https://github.com/yasegor"
                        role="button"
                        target="_blank"
                ><i class="fab fa-github"></i
                ></a>
            </section>
        </div>

        <div class="text-center p-2" style="background-color: rgba(0,0,0,0.2); color: #4b4747">
            © Django Library by Yehor Yasinetskyi
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1edd52e45b.js" crossorigin="anonymous"></script>
</body>
</html>