.main_block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}

.card-text {
    text-align: center;
}

.card {
    border: none !important;
    background: rgba(0, 0, 0, .1);
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .3);
    transition: transform 250ms;
}

.card:hover {
    box-shadow: 0 0 8px 0 rgba(22, 22, 26, .5);
    transform: translateY(-10px);
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 0 14px 14px !important;
    background: rgba(58, 58, 58, 0.1);
}

.fa-trash-can {
    color: #ff4343;
}

.fa-pen-to-square {
    color: #4362ff;
}

.pagination_block {
    margin-top: auto;
}

.page-link {
    color: #424242 !important;
    background-color: #d2d2d2 !important;
    border: 1px solid #262626 !important;
}

.page-link:hover {
    color: #fff !important;
    background-color: #b4b4b4 !important;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #b0b0b0 !important;
}

ul.pagination {
    margin: 0;
}

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

.modal-confirm .btn-secondary {
    background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}