{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/authentication/profile.css' %}?{% now "U" %}">
    <section>
        <div class="container py-5">

            <div class="row justify-content-center g-4">
                <div class="col-lg-5">
                    <div class="card mb-4 h-100">
                        <div class="card-body text-center pb-0">
                            <div class="mt-1 mb-4">
                                <img src="{{ user.profile.avatar.url }}"
                                     class="rounded-circle img-fluid crop" id="myImg">
                            </div>
                            <div id="myModal" class="modal-photo">
                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                <img class="modal-content modal-content-photo" id="img01">
                                <div id="caption"></div>
                            </div>
                            <div class="mb-4">
                                <h5 class="my-3"><strong>{{ user.username }}</strong></h5>
                                <p class="text-muted">Reader №{{ user.id }}</p>
                                {{ user.token }}
                            </div>
                            <div>
                                <button type="button" onclick="location.href='{% url 'profile_update' user.id %}'"
                                        class="btn button_detail">Update
                                </button>
                            </div>

                            <div class="circles" data-bs-toggle="modal" data-bs-target="#developersModal"
                                 title="For Developers"></div>

                            <!-- Modal -->
                            <div class="modal fade" id="developersModal" tabindex="-1"
                                 aria-labelledby="developersModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="developersModalLabel"><b>You can use Django
                                                Library API</b></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        {% if not token %}
                                            <div class="modal-body">
                                                <p><u>You need a token to be able to send requests to the API</u></p>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-center">
                                                <p><a href="{% url 'get_token' %}" role="button"
                                                      class="btn btn-secondary popover-test">Click button</a> to get
                                                    token.</p>
                                            </div>

                                        {% else %}
                                            <div class="modal-body">
                                                <p><b>Your token:</b>
                                                    <code style="cursor: pointer;">{{ token }}</code>
                                                </p>
                                                <p id="success"></p>

                                                <p><u>Put the token in request's header</u></p>
                                                <table class="table table-bordered table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th>Key</th>
                                                        <th>Value</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Authorization</td>
                                                        <td>Token {{ token|truncatechars:15 }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <a href="">View API documentation</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="card mb-4 h-100">
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.profile.phone_number.as_international }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.profile.get_gender_display }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Date joined</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.date_joined }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/modal.js' %}"></script>

{% endblock %}