{% extends 'base.html' %}

{% block content %}
    <div class="col-12">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Book:</th>
                <th scope="col">Created at:</th>
                <th scope="col">End at:</th>
                <th scope="col">Plated end at:</th>
                <th scope="col"><a type="button" class="btn btn-success" href="create/">Create</a>
                </th>
            </tr>
            </thead>
            {% for order in orders %}
                <tbody>
                <tr>
                    <td>
                        "{{ order.book.name }}", {{ order.book.authors.first.name }} {{ order.book.authors.first.surname }}</td>
                    <td>{{ order.created_at|date:"d M Y" }}</td>
                    <td>{{ order.end_at|date:"d M Y" }}</td>
                    <td>{{ order.plated_end_at|date:"d M Y" }}</td>


                    <td>
                        <a type="button" class="btn btn-primary mx-2 my-2"
                           href="{% url 'order_detail' order.id %}">View</a>

                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}